APP_PORT=
HOST_PORT=

CONNECTION_STRING=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MAIN_CLIENT_NAME=
MAIN_REDIRECT_PATH=
BOOTSTRAP_ADMIN_EMAIL=
