@{
    ViewData["Title"] = L["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@L["Welcome"]</h1>
    <p>@L["Learn about"] <a href="https://learn.microsoft.com/aspnet/core">@L["building Web apps with ASP.NET Core"]</a>.</p>
</div>
